zz_stories.docx
gametestData.zip
/zz_bili
*.lnk
0_touhou-cheater/Mindustry.exe.lnk
0_touhou-resource-converter/Mindustry.exe.lnk
0_alice-dolls-extension/Mindustry.exe.lnk
0_alice-dolls-extension/zz_bili